
.dashboard-container {
    display: flex;
  }
  

  .sidebar {
    width: 270px;
    height: auto;
    background: linear-gradient(135deg, #f39c12, #e74c3c, #8e44ad);
    color: white;
    padding: 20px;
  }
  
  .brand-logo img {
    width: 150px;
    margin-left: 21px ;
    margin-bottom: 20px;
  }
  

  .menu {
    margin-top: 30px;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .menu-item:hover {
    transform: scale(1.1);
  }
  
  .sidebar-icon {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .menu p {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
  }
  

  .main-content {
    padding: 20px;
    flex-grow: 1;
  }
  

  .stat-card {
    color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .red-card {
    background-color: #e74c3c;
  }
  
  .purple-card {
    background-color: #8e44ad;
  }
  
  .green-card {
    background-color: #27ae60;
  }
  
  .stat-number {
    font-size: 2.9rem;
    margin-bottom: 15px;
  }
  
  .stat-text {
    font-size: 1.2rem;
  }
  
  .menu-card {
    padding: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu-text {
    font-size: 1.5rem;
  }
  
  .icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .menu-card:hover {
    transform: scale(1.1);
    background-color: grey;
    color: white;
    box-shadow: 4px 4px 4px 4px rgba(238, 130, 238, 0.869);
  }
  

  @media (max-width: 768px) {
    .stat-card, .menu-card {
      margin-bottom: 20px;
    }
  
    .sidebar {
      width: 200px;
    }
  
    .menu p {
      font-size: 1rem;
    }
  
    .sidebar-icon {
      font-size: 40px;
    }
  }
  